[Unit]
Description=Celery Flower Service
After=network.target

[Service]
Type=simple
User=vagrant
Group=vagrant
WorkingDirectory={{ app_source_dir }}
Environment="LEAF_FOCUS_CONFIG_FILE={{ app_conf_main_file }}"
ExecStart={{ celery_bin }} --app={{ celery_app }} flower --logging="{{ celeryflower_log_level }}" --broker_api="http://{{ rabbitmq_user }}:{{ rabbitmq_pass }}@localhost:{{ port_rabbitmq_http }}/api/"
Restart=always

[Install]
WantedBy=multi-user.target
