[Unit]
Description=Celery Flower Service
After=network.target

[Service]
Type=simple
User=vagrant
Group=vagrant
WorkingDirectory={{ app_source_dir }}
Environment="LEAF_FOCUS_CONFIG_FILE={{ app_base_dir }}/leaf-focus-config.json"
ExecStart={{ celery_bin }} --app {{ celery_app }} flower --loglevel "{{ celery_log_level }}"
Restart=always

[Install]
WantedBy=multi-user.target
