[Unit]
Description=Celery OCR Prepare Worker Service
After=network.target

[Service]
Type=simple
User=vagrant
Group=vagrant
WorkingDirectory={{ app_source_dir }}
# see: https://docs.celeryproject.org/en/stable/reference/celery.bin.multi.html#module-celery.bin.multi
Environment="LEAF_FOCUS_CONFIG_FILE={{ app_conf_main_file }}"
ExecStart={{ celery_bin }} --app="{{ celery_app }}" multi start leaf-focus.node.ocr.prepare.1 --events --queues="{{ celery_queue_ocr_prepare }}" --pidfile="{{ celery_pid_file }}" --logfile="{{ celery_log_file }}" --loglevel="{{ celery_log_level }}" --time-limit=3600 --concurrency=1 --pool=solo
ExecStop={{ celery_bin }} --app="{{ celery_app }}" multi stopwait leaf-focus.node.ocr.prepare.1 --events --queues="{{ celery_queue_ocr_prepare }}" --pidfile="{{ celery_pid_file }}" --loglevel="{{ celery_log_level }}"
ExecReload={{ celery_bin }} --app="{{ celery_app }}" multi restart leaf-focus.node.ocr.prepare.1 --events --queues="{{ celery_queue_ocr_prepare }}" --pidfile="{{ celery_pid_file }}" --logfile="{{ celery_log_file }}" --loglevel="{{ celery_log_level }}" --time-limit=3600 --concurrency=1 --pool=solo
Restart=always

[Install]
WantedBy=multi-user.target
